* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    ;
}

body {
    background-color: rgba(27, 31, 34, 0.85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    color: #EEE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}


/*--------------------------------------------------Eh*/

.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo,
.menuIcon {
    margin: 5px;
    color: #fff;
}

.menuIcon {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA991;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

#aside {
    padding: 5%;
    top: -10%;
}


/*--------------------------------------------------Em*/

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuLink {
    display: block;
    padding: 20px;
    background: #FBA900;
    text-decoration: none;
    color: #fff;
}

.menuLink:hover,
.select {
    background: white;
    color: #FBA991;
}


/*--------------------------------------------------Eb*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
    margin: 5%;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.bannerTxt {}


/*--------------------------------------------------Einf*/

.infoColumna {
    background: rgb(126, 111, 82);
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}


/*--------------------------------------------------ECur*/

.sectionTitulo {
    text-align: center;
    font-size: 40px;
    color: #FBA900;
}

.cursosColumna {
    position: relative;
    margin-bottom: 30px;
}

.cursosDescripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    width: 60%;
    height: 100%;
    padding: 5px;
}

.cursosTitulo {
    font-size: 25px;
    margin: 5px 0;
}

.contenedor {
    margin: auto;
    width: 99%;
}

.cursosIng {
    width: 100%;
}


/*--------------------------------------------------Ef*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 8px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}


/*--------------------------------------------------Eresp*/

@media(min-width:480px) {
    .logo {
        font-size: 48px;
    }
    .bannerTitulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .bannerTxt {
        display: block;
        font-size: 18;
        margin: 7px 0;
    }
    .info,
    .cursos {
        display: flex;
        justify-content: space-between;
    }
    .infoColumna {
        width: 31%;
    }
    .sectionTitulo {
        width: 100%;
    }
    .cursos {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .cursosColumna {
        width: 49%;
    }
    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }
}

@media(min-width:768px) {
    .bannerTitulo {
        font-size: 40px;
        margin: 5px 0;
    }
    .cursosTitulo {
        font-size: 40px;
    }
}

@media(min-width:1024px) {
    .infoColumna {
        padding: 20px;
    }
    .contenedor {
        width: 1200px;
    }
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .menuIcon {
        display: none;
    }
    .menuLink {
        background: none;
        font-size: 20px;
    }
    .select {
        color: white;
        background: #FBA900;
    }
    .bannerTitulo {
        font-size: 60px;
    }
    .infTitulo {
        font-size: 40px;
        text-align: center;
    }
    .cursosTitulo {
        font-size: 30px;
    }
    .sectionTitulo {
        font-size: 50px;
        margin: 30px 0;
    }
    .cursosTxt {
        font-size: 20px;
    }
    .cursosDescripcion {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .info {
        margin-top: 80px;
    }
}

@media(min-width:1280) {
    .contenedor {
        width: 1200px;
    }
    .banner .contenedor {
        top: 40%;
    }
}


/*------------------------------------CONTACTOS---------------------------------------------------------*/

#contacto {
    display: inline-block;
    font-size: 20px;
    margin: 8%;
}

form {
    width: 100%;
}

form div {
    margin: .5em;
}

iframe {
    border-radius: .5em;
}

input[type="email"],
input[type="text"],
textarea {
    background: #EEE;
    border-radius: .25em;
    color: #F60;
    font-size: 1em;
    padding: .25em;
    width: 95%;
}

#conta {
    text-align: center;
}


/*------------------------------------Lugares turísticos---------------------------------------------------------*/

.slider {
    width: 60%;
    height: 400px;
    position: relative;
    left: 42%;
    top: 50%;
    margin: 8%;
    transform: translate( -50%);
    background-image: url(../img/coll.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 10px white;
    animation: slider 17s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url(../img/cumbemy.jpg);
    }
    35% {
        background-image: url(../img/otuz.jpg);
    }
    75% {
        background-image: url(../img/banos.jpg);
    }
    100% {
        background-image: url(../img/acien.jpg);
    }
}

.table {
    margin: 10%;
    padding: 10%,
}

.comen {
    text-align: center;
}